@charset "utf-8";
@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Orbit-Regular';
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

h1,h2,h3{color: #004b06;}
a{color: inherit; text-decoration:none;}
button{cursor: pointer;}
body,html{min-width: 960px}
.all{width:100%; height: 200px;float:left;margin-top: 50px;}
.wrap{width:960px;}
.clear{clear:both; position:inherit;}
header{height: 150px;}
#header_div{padding-top: 10px;}
.logo{height:100px; overflow: hidden; float:left}
.logo>a>img{width:250px;margin-top:-50px}


 nav{float:right;margin-top:30px;padding:10px;}
.list{width: 600px; height: 20px}
.list li{
    float:left;
    width:200px;
    text-align:center;
    position:relative;
    transition:all 0.4s;
    padding:5px 0;
}
.list>li:hover{background-color:#004103; color:#fff;font-weight: 800;}

.submenu{display:none; background-color:rgba(255,255,255,0.8); position: absolute; z-index:1; width:100%; margin-top:5px}
.submenu>li{padding:5px 0;transition:all 0.4s;color:#000;background-color: #f0fff3;}
.submenu>li:hover{background-color: #004103;color:#fff;font-weight: 900;}
.list>li:hover .submenu{display: block; background-color: #cefae6;color: inherit}

#imgslider{ margin-top: 10px; height:400px;}
.imgs{
    position:relative;
    overflow: hidden;
    height: 400px;
    width:  960px;
    background-color: #000;
}
.imgs>img{width:100%;height: 100%;position: absolute; transition: all 2s;object-fit: cover;}


.minmenu{width: 1000px;height: 80px;}
.minmenu ul{width: 100%;height: 100%;display: flex;}
.minmenu ul li{width: 80px;height: 100%;margin-top: 30px;font-weight: 900;text-align: center;padding: 20px;}
.minmenu ul li img{width: 80px;height: 80px;}
.minmenu ul li img:hover{transition:all 0.5s;transform: scale(1.1);}

td>span{
    font-weight: 800;
}


.recommend h2{margin-top: 250px}
.table{
    border-collapse:collapse;
    margin-top: 50px; 
    color:#666666;
}
.table tr td{
    width: 200px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-left: 20px;
}
.table tr td img{border-radius: 20px;margin-left: 40px;}
.table tr td img:hover{transition:all 0.5s;transform: scale(1.3);}
.rank{font-weight: 900;color: #00633d;font-size: 24px;}
.rank span{font-weight: 900;font-size: 20px;color: #000;}
.table tr>td:nth-child(3n){
    border-left: 5px solid #00633d;
}
.table tr:last-child{border-bottom: 5px solid #00633d;}
.table tr:first-child{border-top: 5px solid #00633d;}

.partner{
    width:480px;
    margin-top:100px;
}
.partner_info{
    margin-top: 20px;
}
.write{
    position: relative;
    margin: -150px 150px 0 -300px !important;
    line-height: 50px;
    left: 50%;
    top: 50%;
}
.write>h3{
    font-weight: 800;
    font-size: 25px;
    color:#ffffff;
}


.icon{margin-top: 200px}
.icon{text-align:center}
.imgbtn{width:160px; margin:0 20px; display:inline-block}
.imgbtn button{
    padding: 10px;
    background-color: #003115;
    color:#FFF;
    border:none;
    border-radius: 10px;
    font-size: 20px;
}
button{cursor:pointer;margin-top: 20px;}
.imgbtn>button:hover{background-color:rgb(175, 252, 226);color: #000;}

footer{
    height: 250px;
    margin-top: 100px;
    background-color: #00471b;
    width: 100%;
    color: #FFFFFF;
    font-weight: 900;
    overflow: hidden;
}
footer.wrap{
    padding: 10px 20px;
}
footer ul{width: 50%; float:left}
footer ul>li{float:left;margin-left:20px;margin-top:30px}
footer p{
    width:50%;
    margin-top: 50px;
    margin-left: 50px;
    font-size:12px;
    float:right;
    color:#ffffff;
    font-size: 16px;
    font-weight: normal;
}